@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 47.4% 11.2%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 47.4% 11.2%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 100% 50%;
        --destructive-foreground: 210 40% 98%;

        --ring: 215 20.2% 65.1%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 224 71% 4%;
        --foreground: 213 31% 91%;

        --muted: 223 47% 11%;
        --muted-foreground: 215.4 16.3% 56.9%;

        --accent: 216 34% 17%;
        --accent-foreground: 210 40% 98%;

        --popover: 224 71% 4%;
        --popover-foreground: 215 20.2% 65.1%;

        --border: 216 34% 17%;
        --input: 216 34% 17%;

        --card: 224 71% 4%;
        --card-foreground: 213 31% 91%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 1.2%;

        --secondary: 222.2 47.4% 11.2%;
        --secondary-foreground: 210 40% 98%;

        --destructive: 0 63% 31%;
        --destructive-foreground: 210 40% 98%;

        --ring: 216 34% 17%;

        --radius: 0.5rem;
    }
}

@layer base {
    body {
        @apply tw-font-body tw-text-body tw-leading-body tw-text-base tw-font-normal tw-overflow-x-hidden;
    }

    a {
        @apply tw-transition-colors hover:tw-text-primary;
    }

    p {
        @apply tw-mb-3.8;
    }

    p:last-child {
        @apply tw-mb-0;
    }

    p:only-child {
        @apply tw-mb-0;
    }

    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6 {
        @apply tw-font-heading tw-text-heading tw-leading-heading tw-font-bold tw-mb-2;
    }

    h1,
    .h1 {
        @apply tw-text-h1;
    }

    h2,
    .h2 {
        @apply tw-text-[26px] md:tw-text-h2;
    }

    h3,
    .h3 {
        @apply tw-text-h4 md:tw-text-h3;
    }

    h4,
    .h4 {
        @apply tw-text-h4;
    }

    h5,
    .h5 {
        @apply tw-text-h5;
    }

    h6,
    .h6 {
        @apply tw-text-h6;
    }

    h1 a,
    h2 a,
    h3 a,
    h4 a,
    h5 a,
    h6 a {
        @apply tw-text-current hover:tw-text-primary;
    }

    .link-overlay {
        @apply tw-absolute tw-inset-0 -tw-indent-[99999px] tw-z-10;
    }

    .table-responsive {
        @apply tw-overflow-y-auto;
        -webkit-overflow-scrolling: touch;
    }

    iframe {
        height: auto;
        width: 100%;
        aspect-ratio: 16 / 9;
    }

    .tw-rotate-y-180 {
        transform: rotateY(180deg);
    }

    .tw-rotate-y-180-translate-x-half {
        transform: translateX(-50%) rotateY(180deg);
    }

    .tw-no-scroll::-webkit-scrollbar {
        display: none;
    }

    .tw-no-scroll {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .fill-image {
        position: relative !important;
        width: unset !important;
        height: unset !important;
        object-fit: contain !important;
        inset: auto !important;
    }
}

/* html-content */
.html-content p {
    @apply tw-overflow-hidden tw-w-full
}

.blog-card-summery p {
    @apply tw-text-ellipsis tw-break-words
}

/* html-content */