@import "font.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --dir: "rtl"
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

/*body {*/
/*    font-family: IRANSans, serif !important;*/
/*    direction: rtl;*/
/*}*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
    @apply bg-primary-500
}

#menu-header {
    @apply border-0
}

.skeleton {
    background: linear-gradient(0.25turn, transparent, #fff, transparent),
    linear-gradient(#eee, #eee),
    radial-gradient(38px circle at 19px 19px, #eee 50%, transparent 51%),
    linear-gradient(#eee, #eee);
    background-repeat: no-repeat;
    background-size: 315px 250px, 315px 180px, 100px 100px, 225px 30px;
    background-position: -315px 0, 0 0, 0px 190px, 50px 195px;
    animation: loading 1.5s infinite;
}

@keyframes loading {
    to {
        background-position: 315px 0, 0 0, 0 190px, 50px 195px;
    }
}

/*antd styles*/

.ant-select-selection-placeholder {
    @apply text-right
}

.ant-form-item-explain-error {
    @apply text-right
}

.ant-select-selection-item {
    @apply text-right
}

.ant-descriptions-title {
    @apply text-right
}

/*antd styles*/


#custom-calender .Calendar {
    box-shadow: unset !important;
}

.sidebar-entry-course-info {
    max-width: unset !important;
    padding: 20px !important;
}

.Calendar__header {
    @apply px-0 !important
}

.Calendar__section {
    @apply px-1 !important
}

.Calendar__section.-hiddenNext {
    margin: 0 -30px !important;
}

.Calendar__section.-hiddenPrevious {
    margin: 0 30px !important;
}

.Calendar__weekDays {
    @apply p-0 !important
}

.times-list .ant-row .ant-col .ant-form-item-control-input {
    @apply p-2 bg-primary-200 border border-primary-600 text-primary-800 rounded-md  !important
}

.purpleDay:not(.-selectedStart):not(.-selectedBetween):not(.-selectedEnd):not(.-selected) {
    border: 2px solid rgba(156, 136, 255, 0.7) !important;
}

.orangeDay:not(.-selectedStart):not(.-selectedBetween):not(.-selectedEnd):not(.-selected) {
    border: 2px solid rgba(219, 145, 60, 0.7) !important;
}

.yellowDay:not(.-selectedStart):not(.-selectedBetween):not(.-selectedEnd):not(.-selected) {
    border: 2px solid rgba(228, 231, 36, 0.7) !important;
}

.navyBlueDay:not(.-selectedStart):not(.-selectedBetween):not(.-selectedEnd):not(.-selected) {
    border: 2px solid rgba(52, 73, 94, 0.7) !important;
}